.staticman-comments {
  padding: 20px 0px 0px 0px;
}

.staticman-comments .comment-content {
  border-top: 1px solid #EEEEEE;
  padding: 4px 0px 4px 0px;
}

.staticman-comments .comment-content > * {
  padding: 5px 0px 5px 0px;
  margin: 5px 58px 0px 58px;
}

.staticman-comments .textfield {
    width: 420px;
    max-width: 100%;
    padding: 0.5rem 0;
    width: 100%;
}

.staticman-comments input {
    border: 1px solid rgba(0,0,0,0.12);
    padding: 4px 5px;
    width: 100%;
}


.staticman-comments .g-recaptcha {
    padding: 0.5rem 0;
}

.staticman-comments textarea {
    border: 1px solid rgba(0,0,0,0.12);
    padding: 4px 5px;
    vertical-align: top;
    height: 10em;
    width: 100%;
}

.staticman-comments .comment-preview {
    margin-top: 20px;
}

.staticman-comments .comment-avatar {
  float: left;
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.staticman-comments .comment-timestamp {
  margin-left: 58px;
}


.staticman-comments .static-comment-reply {
  margin-left: 2em;
}

.staticman-comments .comment-reply-btn a {
  margin: 0px 0px 14px 46px;
}

.staticman-comments .show-modal {
	overflow: hidden;
	position: relative;
}

.staticman-comments .show-modal:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.85);
}

.show-modal .modal {
	display: block;
}

.modal {
	display: none;
	position: fixed;
	width: 300px;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -150px;
	min-height: 0;
	height: 30%;
	z-index: 9999;
	padding: 0.5rem;
 	border: 1px solid rgba(0,0,0,0.25);
 	background-color: rgba(220,220,220,0.9);
 	height: 10em;
}

form--loading:before {
	content: '';
}

.form--loading .form__spinner {
	display: block;
}
